@font-face{
    font-family: 'Libre Baskerville';
    src: url(assets/font/LibreBaskerville-Regular.ttf);
}

@font-face{
    font-family: 'Manrope Regular';
    src: url(assets/font/manrope/Manrope-Regular.ttf);
}

@font-face{
    font-family: 'Manrope Bold';
    src: url(assets/font/manrope/Manrope-ExtraBold.ttf);
}



*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    height: 100vh;
}

/*nav*/

nav{
    font-family: 'Libre Baskerville';
    display: flex;
    position: static;
    top: 0;
    left: 0;
    background: #2C342C;
    width: 100%;
    height: 6.5vh;
    color: white;
    justify-content: space-between;

}

#logo{
    margin-left: 20px;
    width: 45px;   
}

#logo img{
    mix-blend-mode: lighten;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

nav li:hover{
    transition: ease-in 0.2s;
    background: #050505;
    color: white;
}

#active{
    background: #050505;
    color: #ffffff;
}

nav li, a{
    color: #f2f4f7;
    margin: 2px;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-variant-caps: all-small-caps;
}

nav img{
    height: 100%;
}

/*music player*/

#player{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;

}

#player #songInfo{
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope Regular';
}

#player #songTitle{
    width: 100px;
    font-weight: bold;
    font-size: 12px;
}

#player #buttons{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;


}

#pre, #next{
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    background-color: transparent;
    padding: 8px;
    font-size: 8px;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
}

#play{
    margin-left: 5px;
    margin-right: 5px;
    color: white;
    background-color: transparent;

    font-size: 10px;
    border-radius: 50%;
    border: transparent;
    cursor: pointer;
}

#barrinha{
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 30vw;
    background: black;
    border: 1px white solid;
    height: 1px;
    cursor: pointer;
}

#barrinha #fill{
    width: 0px;
    height: 1px;
    background: rgb(255, 255, 255);
}

/*são exatamente 3 da manhã e eu finalmente conseguir fazer esse player funcionar, obrigado odin*/


.main{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 160vh;   
    background-color: black; 
}

#cover{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%), url(assets/img/aimg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-position: center ;
    position: static;
    width: 100%;
    height: 300px;
}

#maintxt{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top;
    background-color: #434541;
    width: 700px;
    height: 250px;
}

#maintxt h1{
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Manrope Bold';
    align-items: center;
    font-size: 80px;
    font-weight: bolder;
}

#maintxt p{
    color: white;
    font-style: italic;
    font-family: 'Libre Baskerville';
    font-weight: bold;
}

#leitura p{
    text-justify: distribute-all-lines; 
}

#leitura{ 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px #8E908D solid;
    padding: 30px;
    font-family: 'Manrope Regular';
    font-weight: lighter;
    margin-top: 50px;
    font-size: 16px;
    width: 1000px;
    color: white;
}

/*scroll*/

::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #020205; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #F2F4F7; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
  }


footer{
    
    display: flex;
    height: 20vh;
    background-color: #020205;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer a{
    color: #f2f4f7;
    margin-bottom: 20px;
    font-size: 15px;
    margin-bottom: 2px;
    padding: 0;
}

footer p{
    color: #f2f4f7;
    margin-bottom: 20px;
    font-size: 15px;
    font-variant-caps: all-small-caps;
    margin: 2px;
    padding: 0;
}


/* responsividade*/

@media(max-width:1024px){


    nav ul{
        display: none;
    }
    
    nav{
        justify-content: center;
        box-shadow: none;
    }

    #player{
        margin-left: 80px;
        width: 350px;
    }

    #player #songInfo{
        flex-direction: row;
    }

    #player #songInfo p{
        font-size: 10px;
    }

    #player #barrinha{
        display: none;
    }

    #leitura{
        margin-top: 20px;
        width: 80vw;
        text-align: justify;
        font-size: 12px;
    }

    #maintxt{
        margin-top: 10px;
        width: 80vw;
        height: 40vh;
    }

    #maintxt p{
        font-size: 2vw;
    }

    #maintxt h1{
        font-size: 10vw;
    }

}
/*scroll*/

::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    background: #020205; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #F2F4F7; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
  }
